<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>VueJS</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
	<ul>
		<li v-for="(ingredient,i) in ingredients">{{ingredient}} ({{ i+1 }})</li>
	</ul>

	<template v-for="(ingredient,i) in ingredients">
		<h1>Number {{i}}</h1>
		<div>{{ingredient}}</div>
	</template>

	<ul>
		<li v-for="(person,i) in persons">
			<div v-for="(value,key, index) in person">
				{{key}} : {{value}} ({{index}})
			</div>
		</li>
	</ul>

	<span v-for="n in 10">
		{{n}}
	</span>
</div>
<script>
	// You may of course also outsource this script code into a separate file (e.g. app.js) and simply import this file here
	new Vue({
		el: '#app', 
		data:{
			ingredients:['meat','fruit','cookies'],
			persons: [
				{name:"Nata", age:23, color:'red'},
				{name: "Sandro", age:24, color:'black'}
			]
		}
	})
</script>
</body>
</html>